@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
  transition: color 0.3s ease 0s;
}
.header__logo:hover {
  color: #3882f6;
}
.header__menu {
}
.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__link {
  font-size: 18px;
  color: #e5e7eb;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #3882f6;
}

.page {
  flex: 1 1 auto;
}

.footer {
  background-color: #1f2937;
}
