@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
}

.page {
  flex: 1 1 auto;
}

.footer {
}
