@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
  transition: color 0.3s ease 0s;
}
.header__logo:hover {
  color: #3882f6;
}
.header__menu {
}
.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__link {
  font-size: 18px;
  color: #e5e7eb;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #3882f6;
}

/* PAGE */
.page {
  flex: 1 1 auto;
}
.page__main-screen {
}
.page__random {
}

/* MAIN-SCREEN */
.main-screen {
  background-color: #1f2937;
  padding: 100px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.main-screen__content {
  max-width: 450px;
}
.main-screen__title {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}
.main-screen__text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}
.main-screen__btn {
}
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  padding: 5px 30px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #f9faf8;
  color: #3882f6;
}
.btn_blue {
  background-color: #3882f6;
  border: none;
}
.main-screen__image {
  flex-shrink: 0;
  background-color: #918d8d;
  color: #f9faf8;
  width: 500px;
  min-height: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RANDOM */
.random {
  padding: 50px 20px 100px;
  text-align: center;
}
.random__title {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 50px;
}
.random__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.random__item {
}
.item-random {
  max-width: 170px;
}
.item-random__image {
  min-height: 170px;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 5px;
}
.item-random__text {
  font-size: 18px;
  color: rgb(90, 89, 89);
}

.footer {
  background-color: #1f2937;
}
